Package: slim
Version: 1:1.3.6-4-dd
Architecture: i386
Maintainer: Nobuhiro Iwamatsu <iwamatsu@debian.org>
Installed-Size: 2059
Depends: libc6 (>= 2.14), libfontconfig1 (>= 2.11), libfreetype6 (>= 2.2.1), libgcc1 (>= 1:4.1.1), libjpeg62-turbo (>= 1.3.1), libpam0g (>= 0.99.7.1), libpng12-0 (>= 1.2.13-4), libstdc++6 (>= 4.9), libx11-6, libxext6, libxft2 (>> 2.1.1), libxmu6, libxrandr2 (>= 2:1.2.99.3), libxrender1, zlib1g (>= 1:1.1.4), debconf (>= 1.2.9) | debconf-2.0, dbus
Recommends: xterm
Suggests: scrot, xauth
Provides: x-display-manager
Section: x11
Priority: optional
Homepage: http://sourceforge.net/projects/slim.berlios/
Description: desktop-independent graphical login manager for X11
 SLiM aims to be light, simple and independent from the various
 desktop environments. Although completely configurable through
 themes and an option file. It is particularly suitable for machines
 that don't require remote logins.













